* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding: 0;
  margin: 0;
}

.logo-wrap {
  padding-left: 15px;
}

.primary-menu {
  display: flex;
  list-style-type: none;
}

.account-icons {
  display: flex;
}

.gallery .main-image {
  max-width: 100%;
}

@media screen and (max-width: 350px) {
  .logo {
    max-width: 70%;
  }
}

@media screen and (max-width: 799px) {
  .logo {
    margin-left: 15px;
  }

  nav {
    position: fixed;
    top: 0;
    background-color: hsla(0, 100%, 0%, 0.6);
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
  }

  .mobile-nav-toggle {
    position: absolute;
    background: url("../images/icon-close.svg") no-repeat;
    width: 2rem;
    height: 2rem;
    border: 0;
    top: 25px;
    left: 25px;
  }

  .primary-menu {
    flex-flow: column wrap;
    height: 100%;
    width: 60%;
    background-color: hsl(0, 0%, 100%);
    padding: 80px 0 0 25px;
  }

  .account-icons {
    margin-right: 15px;
    justify-content: end;
  }

  .cart-icon {
    margin-bottom: 5px;
  }

  .profile-icon {
    max-width: 25%;
    margin-left: 20px;
  }
}

@media screen and (min-width: 800px) {
  .mobile-menu {
    display: none;
  }
}
